<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      body{  height: 650px;}
      .p1{
        position: absolute;
        right:230px;
        top: 175px;
        font:bold 20px "times New Roman";
      }
      .p2{
        position: absolute;
        right:230px;
        top: 445px;
        font:bold 20px "times New Roman";
      }
      .p3{
        position: absolute;
        right:170px;
        top: 475px;
        font:bold 20px "times New Roman";
      }
      .p4{
        position: absolute;
        right:230px;
        top: 510px;
        font:bold 20px "times New Roman";
      }
      .photo img{
        position: relative;
        /* top:145px;
        right:200px;
        padding :30px 0px 0px 800px; */
        padding-right:30px;
        max-height: 200px;
        max-width: 200px;
        object-fit: cover;
      }
      .radio input{
        width: 13px;
        height: 13px;
        position: relative;

      }
        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
          background-color: #ccc;
        }

        /* When the radio button is checked, add a blue background */
        .container input:checked ~ .checkmark {
          background-color: #2196F3;
        }

        /* Create the indicator (the dot/circle - hidden when not checked) */
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        /* Show the indicator (dot/circle) when checked */
        .container input:checked ~ .checkmark:after {
          display: block;
        }

    </style>
  </head>
  <body>
    <% if (!locals.user) { %>
      <script>
        window.location.href = "/login";
      </script>
    <% } %>
      <% include topmenu %>
      <% include menu %>
      <div id="designpagetitle">
        <h2><%= title %></h2>
      </div>
      <p class="p1" dir="rtl">אנא בחר את הגלויה המועדפת:</p>
      <div id="postcards">
        <form method='post' enctype='multipart/form-data'>
          <div id="myradio"class="radio" direction="rtl">
              <li>
              <label class="container"><input type="radio" name="radio" value=<%= Photos[0].path %> onclick="func()" style="float: right;position:abosolute; top:130px;right:204px;"> <span class="checkmark"></span></label>
              <label class="container"><input type="radio" name="radio" value=<%= Photos[1].path %> onclick="func()" style="float: right;position:abosolute; top:130px;right:420px;"> <span class="checkmark"></span></label>
              <label class="container"><input type="radio" name="radio" value=<%= Photos[2].path %> onclick="func()" style="float: right;position:abosolute; top:130px;right:595px;"> <span class="checkmark"></span></label>
              <label class="container"><input type="radio" name="radio" value=<%= Photos[3].path %> onclick="func()" style="float: right;position:abosolute; top:130px;right:790px;"> <span class="checkmark"></span></label>
              </li>
          </div>
          <% Photos.forEach(function(photo){%>
                <!-- <h2><%=photo.name%></h2> -->
              <div class="photo">
                <img src = '/postcards/<%=photo.path%>' style="float: right;position:abosolute; top:150px;right:120px;"/>
              </div>
            <%}) %>
          <p class="p2" dir="rtl">ניתן גם לבחור קובץ:</p>
          <p class="p3" ><input type='file', name='photo[image]'  onclick="func2()" value='בחר קובץ'/></p>
          <p class="p4" ><input type='submit', value='העלה קובץ' onclick="func2()"/></p>
      </div>
      <script>
            function func()
            {
                console.log(event.srcElement.value);
                console.log("func path",localStorage.getItem("path"));
                var path = event.srcElement.value;
                localStorage.setItem("path",path);
                // var getInput = "myinput";
                // localStorage.setItem("storageName",getInput);
                // var x = document.getElementsByClassName("container")[0].childNodes[0].value;
                // var out = localStorage.getItem("storageName");
                // console.log("out",out);
                // document.getElementsByClassName('container')[i].onclick = function(){alert('Number ' + i + ' was clicked')};
            }
            function func2()
            {
                console.log(event.srcElement.type);
                if (event.srcElement.type == 'file')
                {
                    localStorage.setItem("path"," ");
                    console.log(event.srcElement);
                }
                else
                {
                    console.log(event.srcElement);
                }
                // console.log("func2 path",localStorage.getItem("path"));
                // localStorage.setItem("path"," ");
                // console.log("func2 path after",localStorage.getItem("path"));
            }
       </script>
  </body>
  </html>
