<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <script type="module" src="/htmlscripts/script.js" ></script> -->
    <style>
      body{  height: 650px;}
      .p1{
        position: absolute;
        right:230px;
        top: 175px;
        font:bold 20px "times New Roman";
      }
      .p2{
        position: absolute;
        right:230px;
        top: 445px;
        font:bold 20px "times New Roman";
      }
      .p3{
        position: absolute;
        right:170px;
        top: 475px;
        font:bold 20px "times New Roman";
      }
      .p4{
        position: absolute;
        right:230px;
        top: 510px;
        font:bold 20px "times New Roman";
      }
       .p5{
        position: absolute;
        right:700px;
        top: 575px;
        font:bold 20px "times New Roman";
        }
      .photo img{
        position: relative;
        /* top:145px;
        right:200px;
        padding :30px 0px 0px 800px; */
        padding-right:30px;
        max-height: 200px;
        max-width: 200px;
        object-fit: cover;
      }
      .radio input{
        width: 13px;
        height: 13px;
        position: relative;

      }
        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
          background-color: #ccc;
        }

        /* When the radio button is checked, add a blue background */
        .container input:checked ~ .checkmark {
          background-color: #2196F3;
        }

        /* Create the indicator (the dot/circle - hidden when not checked) */
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        /* Show the indicator (dot/circle) when checked */
        .container input:checked ~ .checkmark:after {
          display: block;
        }

    </style>
  </head>
  <body onload="initOnLoad()">
    <div>
      <p id="savephoto" direction="rtl" class="p5" ><input type='submit' value='הבא' name='save'  disabled='true' onclick="window.location.href='/fill'" /></p>
    </div>
    <% if (!locals.user) { %>
      <script>
        window.location.href = "/login";
      </script>
    <% } %>
    <% if (locals.messages) { %>
        <% messages.forEach(function(message) { %>
          <script>
              let type = '<%= message.type %>';
              if (type == 'success')
              {
                var btn  = document.getElementById("savephoto").childNodes[0];
                btn.disabled = false;
                  // enablebutton();
              }
         </script>
         <% }) %>
    <% } %>
      <%include filemessages %>
      <% include topmenu %>
      <% include menu %>
      <div id="designpagetitle">
        <h2><%= title %></h2>
      </div>
      <p class="p1" dir="rtl">אנא בחר את הגלויה המועדפת:</p>
      <div id="postcards">
        <form method='post' enctype='multipart/form-data'>
          <div  class="radio" direction="rtl">
              <li>
              <label class="container"><input type="radio" name="radio" value=<%= Photos[0].path %> onclick="SaveImageName()" style="float: right;position:abosolute; top:130px;right:204px;"> <span class="checkmark"></span></label>
              <label class="container"><input type="radio" name="radio" value=<%= Photos[1].path %> onclick="SaveImageName()" style="float: right;position:abosolute; top:130px;right:420px;"> <span class="checkmark"></span></label>
              <label class="container"><input type="radio" name="radio" value=<%= Photos[2].path %> onclick="SaveImageName()" style="float: right;position:abosolute; top:130px;right:595px;"> <span class="checkmark"></span></label>
              <label class="container"><input type="radio" name="radio" value=<%= Photos[3].path %> onclick="SaveImageName()" style="float: right;position:abosolute; top:130px;right:790px;"> <span class="checkmark"></span></label>
              </li>
          </div>
          <% Photos.forEach(function(photo){%>
              <div class="photo">
                <img src = '/postcards/<%=photo.path%>' style="float: right;position:abosolute; top:150px;right:120px;"/>
              </div>
            <%}) %>
          <p class="p2" dir="rtl">ניתן גם לבחור קובץ:</p>
          <p class="p3" ><input type='file' id="picFile" name='photo[image]'  onclick="ResetPath()" value='בחר קובץ'/></p>
          <p class="p4" ><input type='submit' onclick="SaveFileName()" value='העלה קובץ'/></p>
        </form>
      </div>
      <script>
            function initOnLoad()
            {
              // localStorage.removeItem("filename");
            }
            function SaveImageName()
            {
                // console.log(event.srcElement.value);
                // console.log("func path",localStorage.getItem("path"));
                console.log("event.srcElement.value",event.srcElement.value);
                var filename = event.srcElement.value;
                localStorage.setItem("filename",filename);
                localStorage.setItem("bFileUploaded","false");
                var btn  = document.getElementById("savephoto").childNodes[0];
                btn.disabled = false;
                // var x = document.getElementsByClassName("container")[0].childNodes[0].value;
                // document.getElementsByClassName('container')[i].onclick = function(){alert('Number ' + i + ' was clicked')};
            }
            function SaveFileName()
            {
                var fullPath =  document.getElementById("picFile").value;
                var filename = fullPath.replace(/^.*(\\|\/|\:)/, '');
                localStorage.setItem("filename",filename);
                localStorage.setItem("bFileUploaded","true");
                var btn  = document.getElementById("savephoto").childNodes[0];
                btn.disabled = false;
            }
            function ResetPath()
            {
              console.log("reset path");
               localStorage.setItem("filename","");
            }

       </script>
  </body>
  </html>
